.App {
  text-align: center;
}

.campos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme span {
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: 50px;
  font-size: 38px;
  color: #ffff;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 -2px 0 #000, 0 0px 0 rgba(255 250 250), 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, 1px 0 #000 ;
}

.meme span:last-of-type {
  margin-top: 350px;
}

.meme img {
  width: 100%;
}
